body {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: 2300px;
}

div {
  border: 2px solid black;
  max-width: 1300px;
  margin: auto;
}

h1 {
  text-align: center;
  font-family: zapfino;
  font-size: 90px;
  color: #fefefe;
  margin-top: 10px;
  margin-bottom: 10px; 
}

nav {
  text-align: center;
}

nav li {
  display: inline;
  padding: 5px;
  font-family: helvetica;
  font-size: 20px;
  color: #fefefe;
  text-decoration: none;
}

p {
  text-align: center;
  color: #fefefe;
  font-size: 30px;
  font-family: helvetica;
}