body {
  
  background-image: url("../img/island.jpeg");
  background-repeat: no-repeat;
  background-size: 2300px;
  background-color: black;
  opacity: 0.9;
 
}

div {
  max-width: 1300px;
  margin: auto;
  margin-top: 15px;
}

h1 {
  text-align: center;
  font-family: Zapfino;
  font-size: 70px;
  color: #fefefe;
  margin-top: 0px;
  margin-bottom: 0px;
}

nav {
  text-align: center;
}

nav li {
  display: inline;
  padding: 5px;
  font-family: helvetica;
  font-size: 20px;
  color: #fefefe;
  text-decoration: none;
}

p {
  text-align: center;
  color: #fefefe;
  font-size: 30px;
  font-family: helvetica;
}

#container {
  border: 2px solid black;
  max-width: 600px;
  background-color: black;
  opacity: 0.8;
}
